<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Cloudreve FP Test Host</string>
	<key>CFBundleExecutable</key>
	<string>TestHost</string>
	<key>CFBundleIdentifier</key>
	<string>cloudreve.desktop.testhost</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TestHost</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.icon-decoration.badge</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Cloudreve Keep Downloaded badge</string>
			<key>UTTypeIconFile</key>
			<string>KeepDownloaded.icns</string>
			<key>UTTypeIdentifier</key>
			<string>cloudreve.desktop.dev.fileprovider.decoration.keep-downloaded-v2</string>
		</dict>
	</array>
</dict>
</plist>
