<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Cloudreve File Provider</string>
	<key>CFBundleExecutable</key>
	<string>CloudreveFileProvider</string>
	<key>CFBundleIconFile</key>
	<string>Cloudreve.icns</string>
	<key>CFBundleIdentifier</key>
	<string>cloudreve.desktop.dev.fileprovider</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleSymbolName</key>
			<string>externaldrive.badge.icloud</string>
		</dict>
	</dict>
	<key>CFBundleName</key>
	<string>CloudreveFileProvider</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionFileProviderSupportsEnumeration</key>
		<true/>
		<key>NSFileProviderDecorations</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>cloudreve.desktop.dev.fileprovider.keep-downloaded-v2</string>
				<key>BadgeImageType</key>
				<string>cloudreve.desktop.dev.fileprovider.decoration.keep-downloaded-v2</string>
				<key>Category</key>
				<string>Badge</string>
				<key>Label</key>
				<string>Keep Downloaded</string>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>cloudreve.desktop.dev.fileprovider.shared-v1</string>
				<key>BadgeImageType</key>
				<string>cloudreve.desktop.dev.fileprovider.decoration.shared-v1</string>
				<key>Category</key>
				<string>Sharing</string>
				<key>Label</key>
				<string>Shared</string>
			</dict>
		</array>
		<key>NSExtensionFileProviderActions</key>
		<array>
			<dict>
				<key>NSExtensionFileProviderActionActivationRule</key>
				<string>fileproviderItems.@count == 1</string>
				<key>NSExtensionFileProviderActionIdentifier</key>
				<string>cloudreve.desktop.dev.fileprovider.OpenInBrowser</string>
				<key>NSExtensionFileProviderActionName</key>
				<string>View Online</string>
			</dict>
			<dict>
				<key>NSExtensionFileProviderActionActivationRule</key>
				<string>SUBQUERY ( fileproviderItems, $fileproviderItem, $fileproviderItem.userInfo.displayKeepDownloaded == true ).@count &gt; 0</string>
				<key>NSExtensionFileProviderActionIdentifier</key>
				<string>cloudreve.desktop.dev.fileprovider.KeepDownloaded</string>
				<key>NSExtensionFileProviderActionName</key>
				<string>Keep Downloaded</string>
			</dict>
			<dict>
				<key>NSExtensionFileProviderActionActivationRule</key>
				<string>SUBQUERY ( fileproviderItems, $fileproviderItem, $fileproviderItem.userInfo.displayRemoveKeepDownloaded == true ).@count &gt; 0</string>
				<key>NSExtensionFileProviderActionIdentifier</key>
				<string>cloudreve.desktop.dev.fileprovider.RemoveKeepDownloaded</string>
				<key>NSExtensionFileProviderActionName</key>
				<string>Remove Keep Downloaded</string>
			</dict>
			<dict>
				<key>NSExtensionFileProviderActionActivationRule</key>
				<string>fileproviderItems.@count == 1 AND SUBQUERY ( fileproviderItems, $fileproviderItem, $fileproviderItem.userInfo.displayShare == true ).@count == 1</string>
				<key>NSExtensionFileProviderActionIdentifier</key>
				<string>cloudreve.desktop.dev.fileprovider.Share</string>
				<key>NSExtensionFileProviderActionName</key>
				<string>Share</string>
			</dict>
		</array>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.fileprovider-nonui</string>
		<key>NSExtensionPrincipalClass</key>
		<string>CloudreveFileProvider.FileProviderExtension</string>
	</dict>
	<key>XPCService</key>
	<dict>
		<key>JoinExistingSession</key>
		<true/>
	</dict>
</dict>
</plist>
